      {% load static %}
      <div class="about-page-hover">
            <div class="about-image">
                <img class="logo-blar" src="{% static 'home/logo.png' %}" />
            </div>
            <div class="about-up">
                <div class="about-title">
                    <h1 class="about-technovely segoeui-bold-blue-dianne-40px">About TECHNOVELY</h1>
                </div>
                <div class="about-description">
                    <h1 class="text-1 segoeui-regular-normal-black-30px">
                        We help organizations to makeover their business <br />along with new technology too fast track their way to
                        success.<br />We have a pool of skilled innovative talents to enlarge your customer <br />base for <br />web and
                        mobile app development.
                    </h1>
                </div>
                <a href="#" style="text-decoration: none;">
                    <div class="about-more segoeui-regular-normal-congress-blue-20px smart-layers-pointers">
                        <h1 class="text-2 segoeui-regular-normal-blue-dianne-32px">Get know more about us...</h1>
                    </div>
                </a>
            </div>
        </div>