<div class="web-1">
  <div class="overlap-group6">
    <div class="rectangle-1"></div>
    <div class="overlap-group1">
      <div class="component-29-1">
        <div class="overlap-group2">
          <img
            class="x74491-networkin-dia-app-digital"
            src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/74491-networking-service-icons-mobile-media-app-digital@1x.png"
          />
          <img
            class="mobileee"
            src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/mobileee@1x.png"
          />
          <div class="ellipse-1"></div>
        </div>
      </div>
      <div class="rectangle-2" onclick="" id="rectangle-2"></div>
      <img
        class="x1611299761497"
        src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/1611299761497@1x.png"
      />
      <div class="text-1 segoeui-bold-congress-blue-25px">
        We build advanced mobile <br />applications using <br />latest technologies.
      </div>
      <img
        class="x1611299808853"
        src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/1611299808853-1@1x.png"
      />
      <div class="rectangle-4"></div>
      <div class="rectangle-5"></div>
      <div class="about-page-hover"></div>
      <img
        class="logo-blar"
        src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/1611299808853@1x.png"
      />
      <img
        class="x1611299808853-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/1611299808853@1x.png"
      />
      <img
        class="logo-blur"
        src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/logo-blur@1x.png"
      />
      <div class="text-2 segoeui-regular-normal-black-30px">
        We help organizations to makeover their business <br />along with new technology too fast track their way to
        success.<br />We have a pool of skilled innovative talents to enlarge your customer <br />base for <br />web and
        mobile app development.
      </div>
      <h1 class="title segoeui-bold-blue-dianne-40px">About TECHNOVELY</h1>
      <div class="text-3 segoeui-regular-normal-blue-dianne-32px">Get know more about us...</div>
      <div class="our-services segoeui-bold-blue-dianne-40px">Our Services</div>
      <div class="get-more segoeui-regular-normal-blue-dianne-33px">Get more..</div>
      <img
        class="scroll-up-icon-2"
        onclick="Lib.autoanim_redirect('%2A,javascript%3Adocument.querySelector%28%22.rectangle-2%22%29.scrollIntoView%28%29,,,', event)"
        src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/scroll-up-icon@1x.png"
      />
      <img
        class="scroll-up-icon-1"
        src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/scroll-up-icon@1x.png"
      />
      <img
        class="scroll-up-icon"
        onclick="Lib.autoanim_redirect('%2A,javascript%3Adocument.querySelector%28%22.rectangle-2%22%29.scrollIntoView%28%29,,,', event)"
        src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/scroll-up-icon@1x.png"
      />
      <div class="text-5 segoeui-bold-congress-blue-37px">-Improve your apps<br /></div>
      <div class="get-started">
        <div class="get-start">Get start</div>
        <img
          class="right-arrow"
          src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/right-arrow@1x.png"
        />
      </div>
      <img
        class="next"
        src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/next@1x.png"
      />
      <div class="group-319">
        <div class="overlap-group3">
          <img
            class="front-end-web-d-ovebg-preview-1"
            src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/front-end-web-development-web-design-front-and-back-ends-web-fro@1x.png"
          />
          <p class="we-create-unique-des">
            <span class="span0-1">We Create Unique Designs, Ideas <br />&amp; Strategies<br /></span
            ><span class="span"
              ><br />We’re a design and development <br />agency in Tyler that specializes in <br />improving local
              businesses <br />through consulting and creating <br />unique designs, ideas &amp; <br />strategies. Our
              work will <br />showcase your business in the <br />digital age so that you reach your <br />target
              market.</span
            >
          </p>
        </div>
      </div>
      <div class="scroll-group-4">
        <div class="rectangle-205"></div>
        <div class="rectangle-205-1"></div>
        <div class="rectangle-205-1"></div>
        <div class="rectangle-205-1"></div>
      </div>
      <img
        class="network"
        src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/network@1x.png"
      />
      <img
        class="administration"
        src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/administration@1x.png"
      />
      <img
        class="app-development"
        src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/app-development@1x.png"
      />
      <div class="group-320" onclick="">
        <div class="overlap-group4">
          <p class="app-developmentwer-1">
            <span class="span0-1">App Development<br /></span
            ><span class="span"
              >We’re a design and development <br />agency in Tyler that specializes in <br />improving local businesses
              <br />through consulting and creating <br />unique designs, ideas &amp; <br />strategies. Our work will
              <br />showcase your business in the <br />digital age so that you reach your <br />target market.</span
            >
          </p>
        </div>
      </div>
      <p class="we-create-unique-des-1 segoeui-normal-black-14px">
        <span class="span-1">We Create Unique Designs, Ideas <br />&amp; Strategies<br /></span
        ><span class="span-2"
          >We’re a design and development <br />agency in Tyler that specializes in <br />improving local businesses
          <br />through consulting and creating <br />unique designs, ideas &amp; <br />strategies. Our work will
          <br />showcase your business in the <br />digital age so that you reach your <br />target market.</span
        >
      </p>
      <p class="app-developmentwer segoeui-normal-black-14px">
        <span class="span-1">App Development<br /></span
        ><span class="span-2"
          >We’re a design and development <br />agency in Tyler that specializes in <br />improving local businesses
          <br />through consulting and creating <br />unique designs, ideas &amp; <br />strategies. Our work will
          <br />showcase your business in the <br />digital age so that you reach your <br />target market.</span
        >
      </p>
      <p class="software-development segoeui-normal-black-14px">
        <span class="span-2"></span><span class="span-1">Software Development<br /></span
        ><span class="span-2"
          >A web-enabled application is an app that is accessed and <br />operated by using an internet browser and a
          network <br />connection.For Example, If your company has remote <br />employees,field technicians, or
          multiple offices you may need <br />customized software for staying connected and organized. For<br />instance,
          our web applications can do that for you! Your business<br />may run specialized operations that mainstream
          existing software <br />just cannot wholly accommodate. Moreover, having your own <br />accessible, customized
          software could be the solution you need!</span
        >
      </p>
    </div>
    <div class="about segoeui-regular-normal-congress-blue-20px smart-layers-pointers">About</div>
    <div class="consultation segoeui-regular-normal-congress-blue-20px smart-layers-pointers">Consultation</div>
    <div class="get-in-touch segoeui-regular-normal-congress-blue-20px smart-layers-pointers" onclick="">
      Get In Touch
    </div>
    <div class="survices segoeui-regular-normal-congress-blue-20px smart-layers-pointers">Survices</div>
    <div class="overlap-group">
      <div class="rectangle-162"></div>
      <div class="request-a-quote">Request A Quote</div>
      <div class="rectangle-163"></div>
      <div class="rectangle-164"></div>
      <div class="rectangle-165"></div>
      <div class="rectangle-166"></div>
      <div class="rectangle-167"></div>
      <div class="submit-1"><div class="submit">SUBMIT</div></div>
      <div class="name roboto-medium-red-18px"><span class="span0-2">Name</span><span class="span1-1">*</span></div>
      <div class="phone roboto-medium-red-18px"><span class="span0-2">Phone</span><span class="span1-1">*</span></div>
      <div class="text-4"><span class="span0">Project Description</span><span class="span1">*</span></div>
      <div class="attach-file">Attach File</div>
      <div class="company roboto-medium-red-18px">
        <span class="span0-2">Company</span><span class="span1-1">*</span>
      </div>
      <div class="email roboto-medium-red-18px"><span class="span0-2">Email</span><span class="span1-1">*</span></div>
      <img
        class="iccancelwhite"
        src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/ic-cancel-white@1x.png"
      />
      <div class="component-51-1">
        <div class="flex-row">
          <img
            class="polygon-9"
            src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/polygon-9@1x.png"
          />
          <div class="select-service"><span class="span">Select Service</span><span class="span1-2">*</span></div>
        </div>
        <img
          class="line-17"
          src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/line-17@1x.png"
        />
      </div>
    </div>
  </div>
  <div class="group-341">
    <div class="overlap-group5">
      <div class="copyright">copyright</div>
      <div class="text-6">©</div>
    </div>
    <div class="address segoeui-regular-normal-picton-blue-28px">2021 by Technovely</div>
    <div class="follow-us-on segoeui-regular-normal-picton-blue-28px">Follow us on</div>
    <img
      class="facebook"
      src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/facebook@1x.png"
    />
    <img
      class="linkedin"
      src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/linkedin@1x.png"
    />
    <img
      class="instagram"
      src="https://anima-uploads.s3.amazonaws.com/projects/6032eb6600488f4e22258fa9/releases/6032eb9ec76a778507e9e8cc/img/instagram@1x.png"
    />
  </div>
</div>