        <nav id="topNav" class="navbar fixed-top navbar-expand-md navbar-light">
            <a href="{% url 'homeView' %}">
                <div class="logo"></div>
            </a>
            <a href="{% url 'homeView' %}">
                <div class="technovely-written-logo"></div>
            </a>
            <ul class="navbar-nav ml-auto">
                <li>
                    <a href="#about" style="text-decoration: none;">
                        <div class="about segoeui-regular-normal-congress-blue-20px smart-layers-pointers">About</div>
                    </a>
                </li>
                <li>
                    <a href="#services" style="text-decoration: none;">
                        <div class="survices segoeui-regular-normal-congress-blue-20px smart-layers-pointers">Services</div>
                    </a>
                </li>
                <li>
                    <a href="#consultation" style="text-decoration: none;">
                        <div class="consultation segoeui-regular-normal-congress-blue-20px smart-layers-pointers">
                            Consultation
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#get-in-touch" style="text-decoration: none;">
                        <div class="get-in-touch segoeui-regular-normal-congress-blue-20px smart-layers-pointers">
                            Get In Touch
                        </div>
                    </a>
                </li>
            </ul>
        </nav>