{% block homepagescript %}
{% load static %}
{% endblock %}
{% load static %}
<div class="services2-page-hover">
    <div class="about-image">
        <img class="logo-blar" src="{% static 'home/logo.png' %}" />
    </div>
    <div class="services-up">
        <div class="services-pics">
            <div class="services-pic1">
                <img src="{% static 'home/administration.png' %}" alt="" height="60px" width="60px">
            </div>
            <div class="services-pic2">
                <img src="{% static 'home/administration.png' %}" alt="" height="60px" width="60px">
            </div>
            <div class="services-pic3">
                <img src="{% static 'home/administration.png' %}" alt="" height="60px" width="60px">
            </div>
        </div>
        <div class="services-des">
            <div class="services-des1">
                <p class="service-des segoeui-normal-black-14px">
                  <span class="span0">We Create Unique Designs, Ideas </br>&amp; Strategies</br></span></br>
                  <span class="span1">
                    We’re a design and development agency in Tyler that specializes in improving local businesses
                    through consulting and creating unique designs, ideas &amp; strategies. Our work will
                    showcase your business in the digital age so that you reach your target market.</span
                  >
                </p>
            </div>
            <div class="services-des2">
                <p class="service-des segoeui-normal-black-14px">
                  <span class="span"></span><span class="span0">Software Development<br /></span
                  ></br><span class="span1"
                    >A web-enabled application is an app that is accessed andoperated by using an internet browser and a network connection.For Example, If your company has remote employees,field technicians, or multiple offices you may need customized software for staying connected and organized. For instance, our web applications can do that for you! Your business may run specialized operations that mainstream existing software just cannot wholly accommodate. Moreover, having your own accessible, customized software could be the solution you
                    need!</span
                  >
                </p>
            </div>
            <div class="services-des3">
                <p class="service-des segoeui-normal-black-14px">
                  <span class="span0">App Development<br /></br></span
                  ><span class="span1"
                    >We’re a design and development agency in Tyler that specializes in improving local businesses
                    through consulting and creating unique designs, ideas &amp; strategies. Our work will
                    showcase your business in the digital age so that you reach your target market.</span
                  >
                </p>
            </div>
        </div>
        <div class="our-product-scroll">
            <div class="product">Product-1</div>
            <div class="product">Product-1</div>
            <div class="product">Product-1</div>
            <div class="product">Product-1</div>
            <div class="product">Product-1</div>
            <div class="product">Product-1</div>
            <div class="product">Product-1</div>
            <div class="product">Product-1</div>
            <div class="product">Product-1</div>
            <div class="product">Product-1</div>
        </div>
    </div>
</div>