body {
    font-family: "SegoeUI-Regular", Helvetica, Arial, serif;
    height: 100%;
    padding:0px;
    margin: 0px;
    box-sizing:border-box; 
}
 html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  padding:0px;
  margin:0px;
}
/*===================================Rectangle1=====================*/
.rectangle-1 {
  background-color: var(--zircon);
  height: 2300px;
  width: 100%;
}
:root {
  --zircon: rgba(242, 250, 255, 1);
}
/*===================================Logo=====================*/
.logo {
  background-image: url("logo.png");
  background-size: 100% 100%;
  height: 57px;
  width: 118px;
  }

.technovely-written-logo {
  background-image: url("name.png");
  background-size: 100% 100%;
  height: 54px;
  width: 239px;
  margin-left: -40px;
  margin-top: 15px;
}


/*===================================NAVLINKS=====================*/
.navbar-nav li {
	padding-left: 20px;
	margin-top: 10px;
}
#topNav {
	height: 60px;
  background-color: var(--cornflower-blue);
  z-index: 100;
}
.about {
  letter-spacing: 0px;
  line-height: 20px;
  min-height: 29px;
  min-width: 56px;
  pointer-events: auto;
  transition: all 0.2s ease;
  white-space: nowrap;
}
.about:hover {
  transform: translate(0, -5px);
  box-shadow: 0px 12px 5px -8px rgba(0, 0, 0, 0.2);
}
.survices {
  letter-spacing: 0px;
  line-height: 20px;
  min-height: 29px;
  min-width: 74px;
  pointer-events: auto;
  transition: all 0.2s ease;
  white-space: nowrap;
}
.survices:hover {
  transform: translate(0, -5px);
  box-shadow: 0px 12px 5px -8px rgba(0, 0, 0, 0.2);
}
.consultation {
  letter-spacing: 0px;
  line-height: 20px;
  min-height: 29px;
  min-width: 114px;
  pointer-events: auto;
  transition: all 0.2s ease;
  white-space: nowrap;
}
.consultation:hover {
  transform: translate(0, -5px);
  box-shadow: 0px 12px 5px -8px rgba(0, 0, 0, 0.2);
}
.get-in-touch {
  letter-spacing: 0px;
  line-height: 20px;
  min-height: 29px;
  min-width: 114px;
  pointer-events: auto;
  transition: all 0.2s ease;
  white-space: nowrap;
  margin-left: 80px;
}
.get-in-touch:hover {
  transform: translate(0, -5px);
  box-shadow: 0px 12px 5px -8px rgba(0, 0, 0, 0.2);
}

.segoeui-regular-normal-congress-blue-20px {
  color: var(--congress-blue);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --congress-blue: rgba(17, 65, 136, 1);
}


/*===================================MAIN_SLIDER=====================*/
.main-slider {
  background: linear-gradient(
    180deg,
    rgba(173, 226, 253, 0.47) 0%,
    rgba(243, 247, 248, 0.05) 34.4%,
    rgba(248, 248, 248, 0.08) 62.32%,
    #b9e2f6 100%
  );
  margin-top: 60px;
  height: 26%;
  width: 100%;
}
.image {
	justify-content: center;
}
.slide {
	justify-content: center;
}
.segoeui-bold-congress-blue-37px {
  color: var(--congress-blue);
  font-family: "SegoeUI-Bold", Helvetica, Arial, serif;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
}
.segoeui-bold-congress-blue-25px {
  color: var(--congress-blue);
  font-family: "SegoeUI-Bold", Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
.slider-d {
  letter-spacing: 0px;
  line-height: 25px;
  min-height: 101px;
  min-width: 200px;
  max-width: 250px;
  white-space: nowrap;
}

.s-title {
  letter-spacing: 0px;
  line-height: 37px;
  min-height: 100px;
  min-width: 344px;
  white-space: nowrap;
}
#carouselExampleIndicators {
  height: 100%;
}
.carousel-item {
	position: relative;
}
.slider-image1 {
	background-color:transparent;
	width: 50%;
	height: 600px;
	float: right;
	margin-top:10px;
}
.slider-image2 {
	background-color:transparent;
	width: 50%;
	height: 600px;
	float: left;
	position: absolute;
	top: 110px;
	left: 260px;
}
.slider-captions {
	position: absolute;
	top: 30%;
	margin-left:10%;
}

button.get-start {
	justify-content: center;
	margin-left:10px;
	background-color:rgba(141, 212, 243, 1);
	border-style: none;
	border-radius: 0.8rem;
}
.get-start:hover {
	 transform:scale(1.2);
	 background-color:var(--congress-blue);
	 color: white;
}
.get-started {
  align-items: flex-start;
  background-color: var(--cornflower);
  border-radius: 7px;
  display: flex;
  height: 52px;
  overflow: hidden;
  padding: 2px 8px;
  width: 200px;
}
.right-arrow {
  align-self: center;
  height: 12px;
  margin-left: 23px;
  width: 12px;
}
.segoeui-bold-congress-blue-23px {
  color: var(--congress-blue);
  font-family: "SegoeUI-Bold", Helvetica, Arial, serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
}



/*===================================About_Page=====================*/
.filler {
	width: 100%;
	height: 60px;
}
.about-page-hover {
  background-color: var(--zircon);
  position: relative;
 height: 25%;
  width: 100%;

}

.about-technovely {
  letter-spacing: 0px;
  line-height: 40px;
  min-height: 55px;
  min-width: 382px;
  white-space: nowrap;
}
.segoeui-bold-blue-dianne-40px {
  color: var(--blue-dianne);
  font-family: "SegoeUI-Bold", Helvetica, Arial, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.segoeui-regular-normal-black-30px {
  color: black;
  font-family: "SegoeUI-Regular", Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}
.text-1 {
  letter-spacing: 0px;
  line-height: 30px;
  min-height: 202px;
  min-width: 924px;
  text-align: center;
  white-space: nowrap;
}
.about-up {
	position: absolute;
	top: 0;
	margin: 0;
  width: 100%;
}

.logo-blar {
  opacity: 0.1;
  height: 80%;
  width: 80%;
  margin-top:10%;
  margin-left:40%;
  z-index: -100;
}
.about-image {
	margin-bottom: 0px;
	margin-right: 0px;
}


.segoeui-regular-normal-blue-dianne-32px {
  color: var(--blue-dianne);
  font-family: "SegoeUI-Regular", Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}
.about-title {
	margin-top:5%;
  text-align: center;
}
.about-description {
	margin-top:5%;
}
.about-more {
  margin: auto;
  width: 45%;
  letter-spacing: 0px;
  line-height: 20px;
  min-height: 29px;
  min-width: 60px;
  pointer-events: auto;
  transition: all 0.2s ease;
  white-space: nowrap;
  margin-top:10%;
}
.about-more:hover {
  transform: translate(0, -5px);
  box-shadow: 0px 12px 5px -8px rgba(0, 0, 0, 0.2);
}
.text-2 {
  letter-spacing: 0px;
  line-height: 30px;
  min-height: 55px;
  min-width: 40%;
  text-align: center;
  white-space: nowrap;
}






/*===================================Service_Page=====================*/
.services-page-hover2 {
  background-color: var(--zircon);
 height: 16.5%;
  width: 100%;
}
:root {
  --zircon: rgba(242, 250, 255, 1);
}

.services-page-hover {
  background: linear-gradient(
    180deg,
    rgba(180, 228, 253, 0.5) 0%,
    rgba(184, 231, 254, 0) 22.04%,
    rgba(185, 232, 254, 0.14) 67.97%,
    rgba(189, 234, 255, 0.45) 98.3%,
    #bdeaff 100%
  );
  position: relative;
  height: 16.5%;
  width: 100%;
}
.services-up {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.services-title {
  margin-top: 5%;
}
.services-technovely {
  text-align: center;
}
.container {
  justify-content: center;
  width: 100%;
  height: 100%;
}
#all-services .item {
  padding:50px;
  margin-bottom:20px;
  opacity: 0.2;
  min-width: 80%;
  min-height: 80%;
  -webkit-transform: scale3d(0.8,0.8,1);
  transform: scale3d(0.8,0.8,1);
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#all-services .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

#all-services .owl-item img {
  min-height: 300px;
  min-width:400px;
  margin:0 auto 17px;
  border-radius: 6px;
}


#all-services.owl-carousel .owl-dots .owl-dot.active span,
#all-services.owl-carousel .owl-dots .owl-dot:hover span {
  background-color: red;
  transform: translate3d(0px,-50%,0px) scale(0.7);
}

#all-services.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}
#all-services.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
}
#all-services.owl-carousel .owl-dots .owl-dot span {
  background-color: green;
  display: inline-block;
  height: 20px;
  margin: 0 2px 5px;
  transform: translate3d(0px,-50%,0px) scale(0.3);
  transform-origin: 50% 50% 0;
  transition: all 250ms ease-out 0s;
  width: 20px; 
}
#all-services.owl-carousel .owl-nav {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  text-align: center;
}




